#navbar {
    
}
#navbar > li {
    display:inline-block;
    border: 10px solid purple;
    border-top-width: 12px;
    border-radius: 30003px;
    font-size: large;   
    font-family: "Comic Sans MS", cursive, Arial;
    margin: 2px;
}
#navbar > li > a{   
    color: yellow;
    background-color: purple;
    border: 5px solid yellow;
    text-decoration: none;
    border-radius: 110px;
    padding: 0px 5px 0px 5px;
}
#heading {
    text-align: center;
    background-color: purple;
    color: yellow;
    font-size: xx-large;
    padding: 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS", cursive, Arial;
}
.title {
    background-color: purple;
    color: yellow;
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS", cursive, Arial;
}
.p {
    background-color: purple;
    color: yellow;
    font-size: large;
    padding: 0px 20px 0px 20px;
    font-family: "Comic Sans MS", cursive, Arial;
    display: inline-block;
    border-radius: 10px;
    width:48.6%;
}
.p2 {
    background-color: purple;
    color: yellow;
    font-size: large;
    font-family: "Comic Sans MS", cursive, Arial;
    border-radius: 10px;
    width: 
    100%;
}
.p2 > img {
    text-align: center;
}
.p3 {
    background-color: purple;
    color: yellow;
    font-size: large;
    font-family: "Comic Sans MS", cursive, Arial;
    display: inline-block;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
}
.container {
    display: inline-block;
    background-color: purple;
    border-radius: 10px;
}
.container > * {
    vertical-align: top
    
}
.bod {
    background-color: royalblue;
    margin-left: 10%;
    margin-right: 10%;
}
.img {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
/*
.infocontainer {
    text-align:center;
    width=100%;
}
.infocontainer > p {
    text-align:left;
}
*/
.centerimg {
    text-align: center
}
#p3{
    background-color: purple;
    color: yellow;
    font-size: large;
    padding: 0px 10px 10px 10px;
    font-family: "Comic Sans MS", cursive, Arial;
    display: inline-block;
    border-radius: 10px;
}
.basket{
    background-color: purple;
    color: yellow;
    font-size: large;
    font-family: "Comic Sans MS", cursive, Arial;
    border-radius: 10px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
/* CSS for Calculator: */